@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{
    var info = (SimplisityInfo)Model.List.First();
    var sessionParams = Model.SessionParamsData;
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketForms/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/RocketAppThemes-W3-CSS/rocketforms.Contact/1.0/resx/")

<div class="w3-content w3-xlarge w3-pale-blue w3-padding " style="max-width:1200px">
    @HtmlOf(remoteModule.Record.GetXmlProperty("genxml/textbox/emailsentmessage" + sessionParams.CultureCode))
</div>
<div class="w3-row w3-large w3-padding " style="max-width:1200px">
    <div class="w3-button w3-padding w3-blue " onclick="window.location.reload(true)">@ResourceKey("RocketForms.ok")</div>
</div>


