@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using Simplisity;

@{
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var info = new SimplisityInfo(remoteModule.Record);
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketForms/App_LocalResources/")


<div class="w3-row w3-padding">
    <label class="w3-text-grey">@ResourceKey("RocketForms.fromemail")</label>
    @TextBox(info, "genxml/textbox/fromemail", " class='w3-input w3-border'")
</div>
<div class="w3-row w3-padding">
    <label class="w3-text-grey">@ResourceKey("RocketForms.replyto")</label>
    @TextBox(info, "genxml/textbox/replytoemail", " class='w3-input w3-border'")
</div>
<div class="w3-row w3-padding">
    <label class="w3-text-grey">@ResourceKey("RocketForms.subject")</label>
    @TextBox(info, "genxml/textbox/subject", " class='w3-input w3-border'")
</div>
<div class="w3-row w3-padding">
    @CheckBox(info, "genxml/checkbox/emailon", ResourceKey("RocketForms.emailon").ToString(), " class='w3-check'", true)
</div>

<!-- Settings records are not localized, so use mulitple fields based on valid languages -->
@foreach (var l in DNNrocketUtils.GetCultureCodeList())
{
    <div class="w3-row w3-padding">
        <label class="w3-text-grey">@ResourceKey("RocketForms.emailsentmessage")</label>&nbsp;@DisplayFlag(l)
        <div>@TextArea(info, "genxml/textbox/emailsentmessage" + l, "rows='4'  class='w3-input w3-border'", ResourceKey("RocketForms.emailsentmessage", l, "Msg").ToString())</div>
    </div>
}

