@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using Simplisity;

@{
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var info = new SimplisityInfo(remoteModule.Record);
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")


<!-- Settings records are not localized, so use mulitple fields based on valid languages -->
@foreach (var l in DNNrocketUtils.GetCultureCodeList())
{
    <div class="w3-row w3-padding">
        <label class="w3-text-grey">@ResourceKey("Theme.emailsentmessage")</label>&nbsp;@DisplayFlag(l)
        <div>@TextArea(info, "genxml/textbox/emailsentmessage" + l, "rows='4'  class='w3-input w3-border'", ResourceKey("Theme.emailsentmessage", l, "Msg").ToString())</div>
    </div>
}

